


@using Core.Web.Models
@model IQueryable<RoleListItemViewModel>

@Html.Grid(Model).Build(columns =>
{
    columns.Add(column => column.Id).InitialSort(GridSortOrder.Asc);
    columns.Add(column => column.Name);
    columns.Add(column => column.Id).Titled("Action").
        RenderedAs(column =>
            @<span>
                @Html.ActionLink("Edit", "RoleEdit", new { id = column.Id }) |
				@Html.ActionLink("Clone", "RoleClone", new { id = column.Id }) |
                @Html.ActionLink("Delete", "RoleDelete", new { id = column.Id }, new { onclick = "return App.confirmDelete('role');" })
            </span>
        ).Encoded(false).Sortable(false).Filterable(false);

}).Empty("No data found").Pageable(pager =>
{
    pager.PagesToDisplay = 7;
    pager.CurrentPage = 1;
    pager.RowsPerPage = Kaptl.Config.ItemsPerPage;
}).Sortable().Filterable()

