
@using Core.Web.Models
@model IQueryable<UserListItemViewModel>

@Html.Grid(Model).Build(columns =>
{
    columns.Add(column => column.Id).InitialSort(GridSortOrder.Asc);
    columns.Add(column => column.UserName);
    columns.Add(column => column.Email);
    columns.Add(column => column.PhoneNumber);
    columns.Add(column => column.EmailConfirmed);
    columns.Add(column => column.PhoneNumberConfirmed);
    columns.Add(column => column.TwoFactorEnabled);
    columns.Add(column => column.LockoutEnabled);
    columns.Add(column => column.Id).Titled("Action").
        RenderedAs(column =>
            @<span>
                @Html.ActionLink("Edit", "UserEdit", new { id = column.Id }) |
				@Html.ActionLink("Clone", "UserClone", new { id = column.Id }) |
                @Html.ActionLink("Delete", "UserDelete", new { id = column.Id }, new { onclick = "return App.confirmDelete('user');" })
            </span>
        ).Encoded(false).Sortable(false).Filterable(false);

}).Empty("No data found").Pageable(pager =>
{
    pager.PagesToDisplay = 7;
    pager.CurrentPage = 1;
    pager.RowsPerPage = Kaptl.Config.ItemsPerPage;
}).Sortable().Filterable()

