
@using Core.Web.Common

@{
    ViewBag.Title = "Config Import/Export";
}

@using (Html.BeginForm("ConfigImport", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummaryEx()

    @Html.AntiForgeryToken()

    @Html.FileBox("file")

    <div class="row">
        <div class="col-xs-12 col-md-8">
            @Html.Submit("Import", new { @class = "btn btn-action" })
            <span>&nbsp;</span>
                        <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Export <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("To JSON", "ConfigExport")</li>
                    <li>@Html.ActionLink("To CSV", "ConfigExportToCSV")</li>
                </ul>
            </div>
            <span>&nbsp;</span>
            @Html.ActionLink("Cancel", "ConfigList", null, new { @class = "btn btn-negative-action btn-back" })
        </div>
    </div>
}
