@using Core.Web.Common
@using Core.Web.Models
@model ConfigViewModel

@{
     ViewBag.Title = Model.Id == 0
        ? "Add Config"
        : "Config Edit";
}

@using (Html.BeginForm(new {action = "ConfigEdit", controller = "Admin", id = Model.Id}))
{
    @Html.ValidationSummaryEx()

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()


	
				@Html.FieldFor(m => m.Key)
	
				@Html.FieldFor(m => m.Value)

    <div class="row">
        <div class="col-xs-12 col-md-8">
            @Html.Submit("Save", new { @class = "btn btn-action" })
            <span>&nbsp;</span>
            @Html.ActionLinkReturnUrl("Cancel", "ConfigList", null, null, new { @class = "btn btn-negative-action btn-back" })
        </div>
    </div>

}

