@using Core.Web.Common
@using Core.Web.Models
@model EmployeeViewModel

@{
     ViewBag.Title = Model.Id == 0
        ? "Add Employee"
        : "Employee Edit";
}

@using (Html.BeginForm(new {action = "EmployeeEdit", controller = "Admin", id = Model.Id}))
{
    @Html.ValidationSummaryEx()

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()


	
				@Html.FieldFor(m => m.Name)
    @Html.EditorFor(m => m.Img)
    @Html.EditorFor(m => m.EmployeeFile)
    @Html.EditorFor(m => m.EmployeeGallery)
    @Html.EditorFor(m => m.EmployeeFileList)

    <div class="row">
        <div class="col-xs-12 col-md-8">
            @Html.Submit("Save", new { @class = "btn btn-action" })
            <span>&nbsp;</span>
            @Html.ActionLinkReturnUrl("Cancel", "EmployeeList", null, null, new { @class = "btn btn-negative-action btn-back" })
        </div>
    </div>

    <h3>Project List</h3>

    @Html.Grid((IQueryable<ProjectListItemViewModel>)ViewBag.Projects).Build(columns =>
    {
        columns.Add(column => column.Id).Titled("#")
            .RenderedAs(column =>
                @<span>
                    @Html.ValuedCheckbox("ProjectIds", column.Id.ToString(),
                        Model.ProjectIds != null && Model.ProjectIds.Contains(column.Id))
                </span>
            ).Encoded(false);
        columns.Add(column => column.Id).InitialSort(GridSortOrder.Asc);
        columns.Add(column => column.Number).Sortable(true);
        columns.Add(column => column.Id).Titled("Action")
            .RenderedAs(column =>
                @<span>
                    @Html.ActionLink("Edit", "ProjectEdit", new { id = column.Id, returnUrl = Url.GetCurrentUrl() }) @*|
                    @Html.ActionLink("Delete", "ProjectDelete", new { id = column.Id, returnUrl = Url.GetCurrentUrl() },
                        new { onclick = "return App.confirmDelete('project');" })*@
                </span>
            ).Encoded(false).Sortable(false).Filterable(false);
    })

    <br/>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            @Html.Submit("Save", new { @class = "btn btn-action" })
            <span>&nbsp;</span>
            @Html.ActionLinkReturnUrl("Cancel", "EmployeeList", null, null, new { @class = "btn btn-negative-action btn-back" })
        </div>
    </div>
}

