@using Core.Web.Common
@using Core.Web.Models
@model ProjectViewModel

@{
     ViewBag.Title = Model.Id == 0
        ? "Add Project"
        : "Project Edit";
}

@using (Html.BeginForm(new {action = "ProjectEdit", controller = "Admin", id = Model.Id}))
{
    @Html.ValidationSummaryEx()

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()


	
				@Html.FieldFor(m => m.Number)
    @Html.EditorFor(m => m.ProjectGallery)

    <div class="row">
        <div class="col-xs-12 col-md-8">
            @Html.Submit("Save", new { @class = "btn btn-action" })
            <span>&nbsp;</span>
            @Html.ActionLinkReturnUrl("Cancel", "ProjectList", null, null, new { @class = "btn btn-negative-action btn-back" })
        </div>
    </div>

    <h3>Employee List</h3>

    @Html.Grid((IQueryable<EmployeeListItemViewModel>)ViewBag.Employees).Build(columns =>
    {
        columns.Add(column => column.Id).Titled("#")
            .RenderedAs(column =>
                @<span>
                    @Html.ValuedCheckbox("EmployeeIds", column.Id.ToString(),
                        Model.EmployeeIds != null && Model.EmployeeIds.Contains(column.Id))
                </span>
            ).Encoded(false);
        columns.Add(column => column.Id).InitialSort(GridSortOrder.Asc);
        columns.Add(column => column.Name).Sortable(true);
        columns.Add(column => column.Id).Titled("Action")
            .RenderedAs(column =>
                @<span>
                    @Html.ActionLink("Edit", "EmployeeEdit", new { id = column.Id, returnUrl = Url.GetCurrentUrl() }) @*|
                    @Html.ActionLink("Delete", "EmployeeDelete", new { id = column.Id, returnUrl = Url.GetCurrentUrl() },
                        new { onclick = "return App.confirmDelete('employee');" })*@
                </span>
            ).Encoded(false).Sortable(false).Filterable(false);
    })

    <br/>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            @Html.Submit("Save", new { @class = "btn btn-action" })
            <span>&nbsp;</span>
            @Html.ActionLinkReturnUrl("Cancel", "ProjectList", null, null, new { @class = "btn btn-negative-action btn-back" })
        </div>
    </div>
}

