
@using Core.Web.Common
@using Core.Web.Models
@model RoleViewModel

@{
     ViewBag.Title = Model.Id == 0
        ? "Add Role"
        : "Role Edit";
}

@using (Html.BeginForm(new {action = "RoleEdit", controller = "Admin", id = Model.Id}))
{
    @Html.ValidationSummaryEx()

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()


	
				@Html.FieldFor(m => m.Name)

    <div class="row">
        <div class="col-xs-12 col-md-8">
            @Html.Submit("Save", new { @class = "btn btn-action" })
            <span>&nbsp;</span>
            @Html.ActionLinkReturnUrl("Cancel", "RoleList", null, null, new { @class = "btn btn-negative-action btn-back" })
        </div>
    </div>

}

