﻿@using Core.Web.Common
@using Core.Web.Models
@model UserViewModel

@{
     ViewBag.Title = Model.Id == 0
        ? "Add User"
        : "User Edit";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummaryEx()

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    @Html.FieldFor(m => m.UserName)
    @Html.FieldFor(m => m.Email)
    @Html.FieldFor(m => m.Password)
    @Html.FieldFor(m => m.PhoneNumber)
    @Html.FieldFor(m => m.EmailConfirmed)
    @Html.FieldFor(m => m.PhoneNumberConfirmed)
    @Html.FieldFor(m => m.TwoFactorEnabled)
    @Html.FieldFor(m => m.LockoutEnabled)

    <h2>Roles</h2>

    @Html.Grid(Model.Roles).Build(columns =>
    {
        columns.Add(column => column.Id).Titled("Action").
            RenderedAs(role =>
                @<span>
                    @Html.ValuedCheckboxFor(model => model.SelectedItems, role.Name, Model.SelectedItems.Contains(role.Name))
                </span>
            ).
            Encoded(false);
        columns.Add(column => column.Id).Sortable(true);
        columns.Add(column => column.Name).Sortable(true);
    })

    <div class="row">
        <div class="col-xs-12 col-md-8">
            @Html.Submit("Save", new { @class = "btn btn-action" })
            <span>&nbsp;</span>
            @Html.ActionLinkReturnUrl("Cancel", "UserList", null, null, new { @class = "btn btn-negative-action btn-back" })
        </div>
    </div>
}