@using Core.Web.Common
@using Core.Web.Models
@model UserViewModel

@{
     ViewBag.Title = Model.Id == 0
        ? "Add User"
        : "User Edit";
}

@using (Html.BeginForm(new {action = "UserEdit", controller = "Admin", id = Model.Id}))
{
    @Html.ValidationSummaryEx()

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()


	
				@Html.FieldFor(m => m.UserName)
	
				@Html.FieldFor(m => m.Email)
	
				@Html.FieldFor(m => m.PhoneNumber)
	
				@Html.FieldFor(m => m.EmailConfirmed)
	
				@Html.FieldFor(m => m.PhoneNumberConfirmed)
	
				@Html.FieldFor(m => m.TwoFactorEnabled)
	
				@Html.FieldFor(m => m.LockoutEnabled)

    <div class="row">
        <div class="col-xs-12 col-md-8">
            @Html.Submit("Save", new { @class = "btn btn-action" })
            <span>&nbsp;</span>
            @Html.ActionLinkReturnUrl("Cancel", "UserList", null, null, new { @class = "btn btn-negative-action btn-back" })
        </div>
    </div>

}

