﻿@using Core.Web.Common
@model Web.Models.Account.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new {role = "form"}))
{
    @Html.ValidationSummaryEx()
    @Html.AntiForgeryToken()

    @Html.FieldFor(m => m.UserName)
    @Html.FieldFor(m => m.Password)
    @Html.FieldFor(m => m.RememberMe, "_FieldCheckBox")

    <div class="form-group">
        @Html.Submit("Sign In", new {@class = "btn btn-action"})
    </div>

    <div class="form-group">
        @Html.ActionLink("Forgot your password?", "ForgotPassword")
    </div>
}