﻿@model Web.Models.Account.VerifyCodeViewModel

@{
    ViewBag.Title = "Verify";
}

@using (Html.BeginForm("VerifyCode", "Account", new {Model.ReturnUrl}, FormMethod.Post, new {role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("provider", @Model.Provider)
    @Html.Hidden("rememberMe", @Model.RememberMe)
    <h4>Enter verification code</h4>
    <hr/>
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(m => m.Code, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Code, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-action" value="Submit"/>
        </div>
    </div>
}