﻿@model IGrid

<div class="mvc-grid" data-name="@Model.Name">
    <div class="table-responsive">
        <table class="table mvc-grid-table @Model.CssClasses">
            <thead>
            <tr>
                @foreach (var column in Model.Columns)
                {
                    var filterableClass = column.IsFilterable == true ? "filterable" : null;
                    var sortableClass = column.IsSortable == true ? "sortable" : null;

                    <th class="mvc-grid-header @filterableClass @sortableClass @column.CssClasses"
                        data-name="@column.Name"
                        data-filterable="@column.IsFilterable"
                        data-filter-name="@column.FilterName"
                        data-filter-multi="@column.IsMultiFilterable"
                        data-filter-first-type="@(column.Filter != null && column.Filter.First != null
                                                      ? column.Filter.First.Type : "")"
                        data-filter-first-val="@(column.Filter != null && column.Filter.First != null
                                                     ? column.Filter.First.Value : "")"
                        data-filter-operator="@(column.Filter != null ? column.Filter.Operator : "")"
                        data-filter-second-type="@(column.Filter != null && column.Filter.Second != null
                                                       ? column.Filter.Second.Type : "")"
                        data-filter-second-val="@(column.Filter != null && column.Filter.Second != null
                                                      ? column.Filter.Second.Value : "")"
                        data-sortable="@column.IsSortable"
                        data-sort-order="@column.SortOrder"
                        data-sort-first="@column.FirstSortOrder">
                        <span class="mvc-grid-header-title">@column.Title</span>
                        @if (column.IsSortable == true)
                        {
                            <span class="mvc-grid-sort @column.SortOrder.ToString().ToLower()"></span>
                        }
                        @if (column.IsFilterable == true)
                        {
                            var filterApplied = column.Filter != null && (column.Filter.First != null || column.Filter.Second != null) ? "applied" : "";
                            <span class="mvc-grid-filter @filterApplied"></span>
                        }
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @if (Model.Rows.Any())
            {
                foreach (var row in Model.Rows)
                {
                    <tr class="mvc-grid-row @row.CssClasses">
                        @foreach (var column in Model.Columns)
                        {
                            <td class="@column.CssClasses">@column.ValueFor(row)</td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="mvc-grid-table-empty" colspan="@Model.Columns.Count">
                        @Model.EmptyText
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    @if (Model.Pager != null)
    {
        @Html.Partial(Model.Pager.PartialViewName, Model.Pager)
    }
</div>