﻿@model IGrid

<div class="mvc-grid" data-name="@Model.Name">
    <div class="table mvc-grid-table @Model.CssClasses">
        <div class="table-head">
            @foreach (var column in Model.Columns)
            {
                var filterableClass = column.IsFilterable == true ? "filterable" : null;
                var sortableClass = column.IsSortable == true ? "sortable" : null;

                <div class="column mvc-grid-header @filterableClass @sortableClass @column.CssClasses"
                        data-name="@column.Name"
                        data-filterable="@column.IsFilterable"
                        data-filter-name="@column.FilterName"
                        data-filter-multi="@column.IsMultiFilterable"
                        data-filter-first-type="@(column.Filter != null && column.Filter.First != null
                                                ? column.Filter.First.Type : null)"
                        data-filter-first-val="@(column.Filter != null && column.Filter.First != null
                                                ? column.Filter.First.Value : null)"
                        data-filter-operator="@(column.Filter != null ? column.Filter.Operator : null)"
                        data-filter-second-type="@(column.Filter != null && column.Filter.Second != null
                                                ? column.Filter.Second.Type : null)"
                        data-filter-second-val="@(column.Filter != null && column.Filter.Second != null
                                                ? column.Filter.Second.Value : null)"
                        data-sortable="@column.IsSortable"
                        data-sort-order="@column.SortOrder"
                        data-sort-first="@column.FirstSortOrder">
                    <span class="mvc-grid-header-title">@column.Title</span>
                    @if (column.IsSortable == true)
                {
                        <span class="mvc-grid-sort @column.SortOrder.ToString().ToLower()"></span>
                    }
                    @if (column.IsFilterable == true)
                {
                    var filterApplied = column.Filter != null &&
                        (column.Filter.First != null || column.Filter.Second != null)
                        ? "applied" : null;
                        <span class="mvc-grid-filter @filterApplied"></span>
                    }
                </div>
            }
        </div>
        @if (Model.Rows.Any())
        {
            foreach (var row in Model.Rows)
            {
                <div class="table-row mvc-grid-row @row.CssClasses">
                    @foreach (var column in Model.Columns)
                    {
                        <div class="column @column.CssClasses" data-label="@column.Title">@column.ValueFor(row)</div>
                    }
                </div>
            }
        }
        else
        {
            <div class="table-row mvc-grid-table-empty">
                @Model.EmptyText
            </div>
        }
    </div>
    @if (Model.Pager != null)
    {
        @Html.Partial(Model.Pager.PartialViewName, Model.Pager)
    }
</div>