

@model List<Core.DomainModel.Test>

@Html.Grid(Model).Build(columns =>
{
    columns.Add(column => column.Id);
    columns.Add(column => column.Name);
    columns.Add(column => column.Id).Titled("Action").
        RenderedAs(column =>
            @<span>
                @Html.ActionLink("Delete", "TestDelete", new { id = column.Id }, new { onclick = "return App.confirmDelete('test');" })
                @Html.ActionLink("Edit", "TestEdit", new { id = column.Id })
            </span>
        ).
        Encoded(false).Sortable(false).Filterable(false);
}).Empty("No data found").Pageable(pager =>
{
    pager.PagesToDisplay = 7;
    pager.InitialPage = 1;
    pager.RowsPerPage = 10;
}).Sortable().Filterable()

