
@using Core.DomainModel
@using Web.Common
@model Test

@if (Model.Id == 0)
{
	ViewBag.Title = "Add Test";
}
else
{
	ViewBag.Title = "Test Edit";
}

@using (Html.BeginForm("TestEdit", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummaryEx()

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

	<div></div><br/>

    @Html.FieldFor(m => m.Name, null, new { @class = "form-control" })

    @Html.Submit("Save", new { @class = "btn btn-primary" })
    <span>&nbsp;</span>
    @Html.ActionLink("Back to List", "TestList", "Main", null, new { @class = "btn btn-default" })

}
