
@using Web.Common

@{
    ViewBag.Title = "Test List";
}

<div></div><br/>

@Html.ValidationSummaryEx()

@Html.AjaxGrid(Url.Action("_TestList"))

<br />

@Html.ActionLink("Add Test", "TestEdit", null, new { @class = "btn btn-primary" })
