﻿@model Core.Web.Models.BuiltIn.UploadViewModel

<div class="row form-group">
    <div class="col-md-8">        
        @Html.LabelFor(x => x)

        @if (!string.IsNullOrWhiteSpace(Model.FileId))
        {
            <div>
                Current file <a href="@Url.UploadUrl(Model.FileId)" target="_blank">link</a>
            </div>
        }
        <div>
            <input type="file" name="@Html.NameFor(x => x.PostedFile)"/>
        </div>
    </div>
</div>