﻿@{
    var list = new SelectList(new List<SelectListItem>()
        {
            new SelectListItem() {Value = "en-US", Text = "en-US"},
            new SelectListItem() {Value = "en-FR", Text = "en-FR"},
            new SelectListItem() {Value = "ca-FR", Text = "ca-FR"},
        }, "Value", "Text", Model);
}
<div class="row form-group">
    <div class="col-md-8">
        @Html.LabelFor(x => x)
        <div>
            @Html.DropDownListFor(x => x, list, new {@class= "form-control" })
        </div>
     </div>
</div>