﻿<div class="row form-group">
    <div class="col-md-8">
        @Html.LabelFor(x => x)

        @Html.DropDownListFor(
                x => x,
                new SelectList((IEnumerable<SelectListItem>)ViewBag.ListItems, "Value", "Text", Model),
                htmlAttributes: new { @class = "form-control" }
                )
    </div>
</div>