﻿<div class="row form-group">
    <div class="col-md-8">
        <div>
            @Html.LabelFor(x => x)
        </div>
        <file-upload-field
            show-image-preview="true"
            is-multiple="false"
            field-name="@Html.NameFor(x => x)"
            field-value='@Html.Raw(Model)'></file-upload-field>

    </div>
</div>