﻿<div class="row form-group">
    <div class="col-md-8">
        @Html.LabelFor(x => x)
        @Html.TextAreaFor(x => x, new {@class = "richtext"})
        @Html.ValidationMessageFor(x=>x)
    </div>
</div>