﻿<div>
    <a href="" ngf-select="vm.uploadFiles($files, $invalidFiles)" ngf-multiple="vm.isMultiple">Add</a>
    <ul>
        <li ng-if="vm.uploads.length === 0">No files uploaded.</li>
        <li ng-repeat="file in vm.uploads">
            <div ng-if="file.isImage && vm.showImagePreview">
                <a ng-href="{{file.publicUrl}}" target="_blank"><img ng-src="{{file.publicUrl}}" width="100" alt="{{file.name}}" /></a>
                <a href="" ng-click="vm.removeUpload(file.id)">Remove</a>
            </div>
            <div ng-if="!file.isImage || !vm.showImagePreview">
                <a ng-href="{{file.publicUrl}}" target="_blank">{{file.name}}</a>
                <a href="" ng-click="vm.removeUpload(file.id)">Remove</a>
            </div>
        </li>
    </ul>
    <input type="hidden" name="{{vm.fieldName}}" value="{{vm.uploads | json}}" />
</div>
