@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title></title>
    <base href="/" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    @Styles.Render("~/Bundle/bootstrap/css")
    @Styles.Render("~/Bundle/angular/css")
    @Styles.Render("~/Bundle/default/css")

    @Scripts.Render("~/Bundle/jquery")
    @Scripts.Render("~/Bundle/bootstrap")
    @Scripts.Render("~/Bundle/tinymce")
    @Scripts.Render("~/Bundle/angular")
</head>

<body role="document">
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
@*AppName*@
Mvc App
@*/AppName*@
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-menubuilder" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
@*AppMainMenu*@

@*/AppMainMenu*@

                @if (User.IsInRole("admin"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Users", "UserIndex", "Admin")</li>
                            <li>@Html.ActionLink("Roles", "RoleIndex", "Admin")</li>
                        </ul>
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            @User.Identity.GetUserName() <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Change your password", "ChangePassword", "Account")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Sign out", "LogOff", "Account")</li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>@Html.ActionLink("Sign In", "Login", "Account")</li>
                }
            </ul>
        </div>
    </div>
</nav>

<div class="container" role="main">
    @RenderBody()
</div>

<div class="footer hidden-xs hidden-sm">
    <div class="container-fluid">
        <p class="text-muted text-center">
@*AppFooter*@
Powered by <a href="http://www.kaptl.com/" target="_blank">KAPTL</a><img src="@Url.Content("~/Content/images/kaptl.svg")" alt="kaptl logo" class="kaptl-logo"/>
@*/AppFooter*@
        </p>
    </div>
</div>

@Scripts.Render("~/Bundle/angular/app")
@Scripts.Render("~/Bundle/default")

</body>
</html>