@using Microsoft.AspNet.Identity;
@using System.Web.Configuration;
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
 
    @Styles.Render("~/Content/css/vendor.css")
    @Styles.Render("~/Content/css/styles.css")
</head>

<body role="document">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    @*AppName*@
Mvc App
@*/AppName*@
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-menubuilder" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @*AppMainMenu*@

@*/AppMainMenu*@

                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.AreaLink("Admin", "Index", "Admin", "kaptl")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                @User.Identity.GetUserName() <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Change your password", "ChangePassword", "Account", new {area = ""}, new {})</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Sign out", "LogOff", "Account", new {area = ""}, new {})</li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Sign In", "Login", "Account", new {area = ""}, new {})</li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" role="main">
        <div class="page-header">
            <h3>@ViewBag.Title</h3>
        </div>

        @RenderBody()
    </div>

    <div class="footer hidden-xs hidden-sm">
        <div class="container-fluid">
            <p class="text-muted text-center">
                @*AppFooter*@
Powered by <a href="http://www.kaptl.com/" target="_blank">KAPTL</a><img src="@Url.Content("~/Content/images/kaptl.svg")" alt="kaptl logo" class="kaptl-logo"/>
@*/AppFooter*@
            </p>
        </div>
    </div>

    @Scripts.Render("~/Content/vendor.js")
    @Scripts.Render("~/Content/app.js")

    <script>
@* ReSharper disable UnusedParameter *@
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments);
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '@WebConfigurationManager.AppSettings["googleAnalyticsKey"]', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>