@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    @Styles.Render("~/Areas/kaptl/Content/css/vendor.css")
    @Styles.Render("~/Areas/kaptl/Content/css/styles.css")
</head>

<body role="document">
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Admin", new { area = "kaptl" })">Admin</a>
        </div>

        <div class="collapse navbar-collapse navbar-menubuilder" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @*AppMainMenu*@
<li>@Html.AreaLink("Employee", "EmployeeList", "Admin", "kaptl")</li>
<li>@Html.AreaLink("Project", "ProjectList", "Admin", "kaptl")</li>
<li>@Html.AreaLink("Config", "ConfigList", "Admin", "kaptl")</li>
@*/AppMainMenu*@
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Identity <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.AreaLink("Users", "UserList", "Admin", "kaptl")</li>
                        <li>@Html.AreaLink("Roles", "RoleList", "Admin", "kaptl")</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @User.Identity.GetUserName() <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.AreaLink("Change your password", "ChangePassword", "Account")</li>
                        <li class="divider"></li>
                        <li>@Html.AreaLink("Sign out", "LogOff", "Account")</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" role="main">
    <div class="page-header">
        <h3>@ViewBag.Title</h3>
    </div>

    @RenderBody()
</div>

<div class="footer hidden-xs hidden-sm">
    <div class="container-fluid">
        <p class="text-muted text-center">
            Powered by <a href="http://www.kaptl.com/" target="_blank">KAPTL</a><img src="@Url.Content("~/Content/images/kaptl.svg")" alt="kaptl logo" class="kaptl-logo"/>
        </p>
    </div>
</div>

    @Scripts.Render("~/Areas/kaptl/Content/vendor.js")
    @Scripts.Render("~/Areas/kaptl/Content/app.js")

</body>
</html>